<div class="authentication">
  <div class="container">
      <div class="col-md-12 content-center">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="company_detail">
                     
                  </div>                    
              </div>
              <div class="col-lg-5 col-md-12 offset-lg-1">
                  <div class="card-plain">
                      <div class="header">
                          <img width="250px;" src="assets/images/logo_header.png" alt="">
                          <h5>Log in</h5>
                      </div>
                     
                       <form class="form" #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">  
                          <div class="input-group">
                              <input type="text" id="username"  name="username" class="form-control" 
                              placeholder="User Name"  required 
                              [(ngModel)]="UserName" name="UserName"
                              #UserName1="ngModel">
                              <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                          </div>
                          <div class="error" *ngIf="!UserName1.valid && UserName1.touched">
                                User name is required!
                              </div>
                          <div class="input-group">
                              <input type="password" id="Password" name="Password" placeholder="Password" required
                              class="form-control" [(ngModel)]="password" #Password1="ngModel">
                              <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                          </div>  
                          <div class="error" *ngIf="!Password1.valid && Password1.touched">
                                Password is required!
                              </div>
                          <div class="footer">
                                <button type="submit" 
                                 class="btn btn-primary btn-round btn-block">SIGN IN</button>
                            </div>                          
                      </form>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>