<div class="overlay_menu">
  <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-close"></i></button>
  <div class="container">        
      <div class="row clearfix">
          <div class="card">
              <div class="body">
                  <div class="input-group m-b-0">                
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-addon">
                          <i class="zmdi zmdi-search"></i>
                      </span>
                  </div>
              </div>
          </div>
          <div class="card links">
              <div class="body">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <h6>App</h6>
                          <ul class="list-unstyled">
                              <li><a href="mail-inbox.html">Inbox</a></li>
                              <li><a href="chat.html">Chat</a></li>
                              <li><a href="events.html">Calendar</a></li>
                              <li><a href="file-dashboard.html">File Manager</a></li>
                              <li><a href="contact.html">Contact list</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <h6>User Interface (UI)</h6>
                          <ul class="list-unstyled">
                              <li><a href="ui_kit.html">UI KIT</a></li>
                              <li><a href="tabs.html">Tabs</a></li>
                              <li><a href="range-sliders.html">Range Sliders</a></li>
                              <li><a href="modals.html">Modals</a></li>
                              <li><a href="alerts.html">Alerts</a></li>
                              <li><a href="dialogs.html">Dialogs</a></li>
                              <li><a href="collapse.html">Collapse</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <h6>Sample Pages</h6>
                          <ul class="list-unstyled">                            
                              <li><a href="image-gallery.html">Image Gallery</a> </li>
                              <li><a href="profile.html">Profile</a></li>
                              <li><a href="timeline.html">Timeline</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="invoices.html">Invoices</a></li>                         <li><a href="faqs.html">FAQs</a></li>
                              <li><a href="search-results.html">Search Results</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <h6>About</h6>
                          <ul class="list-unstyled">
                              <li><a href="http://thememakker.com/about/" target="_blank">About</a></li>
                              <li><a href="http://thememakker.com/contact/" target="_blank">Contact Us</a></li>
                              <li><a href="http://thememakker.com/admin-templates/" target="_blank">Admin Templates</a></li>
                              <li><a href="http://thememakker.com/services/" target="_blank">Services</a></li>
                              <li><a href="http://thememakker.com/portfolio/" target="_blank">Portfolio</a></li>                            
                          </ul>
                      </div>
                  </div>
              </div>
          </div>            
      </div>
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12">
              <div class="social">
                  <a class="icon" href="https://www.facebook.com/thememakkerteam" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                  <a class="icon" href="https://www.behance.net/thememakker" target="_blank"><i class="zmdi zmdi-behance"></i></a>
                  <a class="icon" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                  <a class="icon" href="javascript:void(0);"><i class="zmdi zmdi-linkedin"></i></a>                    
                  <p>Coded by WrapTheme<br> Designed by <a href="http://thememakker.com/" target="_blank">thememakker.com</a></p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="overlay"></div>

<!-- Left Sidebar -->
<aside id="minileftbar" class="minileftbar">
  <ul class="menu_list">
      <li>
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="index.html"><img src="assets/images/logo.svg" alt="Alpino"></a>
      </li>
      <li><a href="javascript:void(0);" class="btn_overlay hidden-sm-down"><i class="zmdi zmdi-search"></i></a></li>        
      <li><a href="javascript:void(0);" class="menu-sm"><i class="zmdi zmdi-swap"></i></a></li>        
      <li class="menuapp-btn"><a href="javascript:void(0);"><i class="zmdi zmdi-apps"></i></a></li>
      <li class="notifications badgebit">
          <a href="javascript:void(0);">
              <i class="zmdi zmdi-notifications"></i>
              <div class="notify">
                  <span class="heartbit"></span>
                  <span class="point"></span>
              </div>
          </a>
      </li>
      <li class="task badgebit">
          <a href="javascript:void(0);">
              <i class="zmdi zmdi-flag"></i>
              <div class="notify">
                  <span class="heartbit"></span>
                  <span class="point"></span>
              </div>
          </a>
      </li>
      <li><a href="/app/skyfinch/event" title="Events"><i class="zmdi zmdi-calendar"></i></a></li>
      <li><a href="mail-inbox.html" title="Inbox"><i class="zmdi zmdi-email"></i></a></li>
      <li><a href="contact.html" title="Contact List"><i class="zmdi zmdi-account-box-phone"></i></a></li>        
      <li><a href="chat.html"><i class="zmdi zmdi-comments"></i></a></li>        
      <li><a href="javascript:void(0);" class="fullscreen" id="fullscreen" data-provide="fullscreen"><i class="zmdi zmdi-fullscreen"></i></a></li>
      <li class="power">          
          <a href="sign-in.html" class="mega-menu"><i class="zmdi zmdi-power"></i></a>
      </li>
  </ul>    
</aside>

<aside class="right_menu">
  <div class="menu-app">
      <div class="slim_scroll">
          <div class="card">
              <div class="header">
                  <h2><strong>App</strong> Menu</h2>
              </div>
              <div class="body">
                  <ul class="list-unstyled menu">
                      <li><a href="events.html"><i class="zmdi zmdi-calendar-note"></i><span>Calendar</span></a></li>
                      <li><a href="file-dashboard.html"><i class="zmdi zmdi-file-text"></i><span>File Manager</span></a></li>
                      <li><a href="blog-dashboard.html"><i class="zmdi zmdi-blogger"></i><span>Blog</span></a></li>
                      <li><a href="javascript:void(0)"><i class="zmdi zmdi-arrows"></i><span>Notes</span></a></li>
                      <li><a href="javascript:void(0)"><i class="zmdi zmdi-view-column"></i><span>Taskboard</span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="notif-menu">
      <div class="slim_scroll">
          <div class="card">
              <div class="header">
                  <h2><strong>Messages</strong></h2>
              </div>
              <div class="body">
                  <ul class="messages list-unstyled">
                      <li>
                          <a href="javascript:void(0);">
                              <div class="media">
                                  <img class="media-object rounded-circle" src="assets/images/xs/avatar1.jpg" alt="">
                                  <div class="media-body">
                                      <span class="name">Alexander <small class="time">35min ago</small></span>
                                      <p class="message">New tasks needs to be done</p>                                        
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0);">
                              <div class="media">
                                  <img class="media-object rounded-circle" src="assets/images/xs/avatar2.jpg" alt="">
                                  <div class="media-body">
                                      <span class="name">Grayson <small class="time">1hr ago</small></span>
                                      <p class="message">New tasks needs to be done</p>                                        
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0);">
                              <div class="media">
                                  <img class="media-object rounded-circle" src="assets/images/xs/avatar3.jpg" alt="">
                                  <div class="media-body">
                                      <span class="name">Sophia <small class="time">31min ago</small></span>
                                      <p class="message">New tasks needs to be done</p>                                        
                                  </div>
                              </div>
                          </a>
                      </li>        
                  </ul>  
              </div>
          </div>
          <div class="card">
              <div class="header">
                  <h2><strong>Notifications</strong></h2>
              </div>
              <div class="body">
                  <ul class="notification list-unstyled">
                      <li>
                          <i class="zmdi zmdi-balance-wallet text-success"></i>
                          <strong>+$30 New sale</strong>
                          <p><a href="javascript:void(0)">Admin Template</a></p>
                          <small class="text-muted">7 min ago</small>
                      </li>
                      <li>
                          <i class="zmdi zmdi-edit text-info"></i>
                          <strong>You Edited file</strong>
                          <p><a href="javascript:void(0)">Docs.doc</a></p>
                          <small class="text-muted">15 min ago</small>
                      </li>
                      <li>
                          <i class="zmdi zmdi-delete text-danger"></i>
                          <strong>Project removed</strong>
                          <p><a href="javascript:void(0)">AdminX BS4</a></p>
                          <small class="text-muted">1 hours ago</small>
                      </li>
                      <li>
                          <i class="zmdi zmdi-account text-success"></i>
                          <strong>New user</strong>
                          <p><a href="javascript:void(0)">UI Designer</a></p>
                          <small class="text-muted">1 hours ago</small>
                      </li>
                      <li>
                          <i class="zmdi zmdi-flag text-warning"></i>
                          <strong>Alpino v1.0.0 is available</strong>
                          <p><a href="javascript:void(0)">Update now</a></p>
                          <small class="text-muted">5 hours ago</small>
                      </li>
                  </ul>  
              </div>
          </div>
      </div>
  </div>
  <div class="task-menu">
      <div class="slim_scroll">
          <div class="card tasks">
              <div class="header">
                  <h2><strong>Project</strong> Status</h2>
              </div>
              <div class="body m-b-10">
                  <a href="javascript:void(0);">
                      <span class="text-muted">Project Name 1 <span class="float-right">29%</span></span>
                      <div class="progress">
                          <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" style="width: 29%;"></div>
                      </div>
                      <ul class="list-unstyled team-info">
                          <li class="m-r-15"><small class="text-muted">Team</small></li>
                          <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>
                          <li><img src="assets/images/xs/avatar3.jpg" alt="Avatar"></li>
                          <li><img src="assets/images/xs/avatar4.jpg" alt="Avatar"></li>
                      </ul>
                  </a>
              </div>
              <div class="body m-b-10">
                  <a href="javascript:void(0);">
                      <span class="text-muted">Project Name 2 <span class="float-right">78%</span></span>
                      <div class="progress">
                          <div class="progress-bar l-slategray" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                      </div>
                      <ul class="list-unstyled team-info">
                          <li class="m-r-15"><small class="text-muted">Team</small></li>
                          <li><img src="assets/images/xs/avatar6.jpg" alt="Avatar"></li>
                          <li><img src="assets/images/xs/avatar7.jpg" alt="Avatar"></li>
                      </ul>
                  </a>
              </div>
              <div class="body">
                  <a href="javascript:void(0);">
                      <span class="text-muted">Project Name 4 <span class="float-right">68%</span></span>
                      <div class="progress">
                          <div class="progress-bar l-coral" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                      </div>
                      <ul class="list-unstyled team-info">
                          <li class="m-r-15"><small class="text-muted">Team</small></li>
                          <li><img src="assets/images/xs/avatar8.jpg" alt="Avatar"></li>
                          <li><img src="assets/images/xs/avatar9.jpg" alt="Avatar"></li>
                      </ul>
                  </a>
              </div>
          </div>
      </div>
  </div>

  <div slimScroll id="leftsidebar" class="sidebar">
      <div class="menu">
          <ul class="list">
              <li>
                  <div class="user-info m-b-20">
                      <div class="image">
                          <a href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"></a>
                      </div>
                      <div class="detail">
                          <h6>{{this.username}}</h6>
                          <p class="m-b-0">{{this.rolename}}</p>
                      </div>
                  </div>
              </li>
              <li class="header">MAIN</li>
              <li> <a href="index.html"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
              <li> <a routerLink="/app/skyfinch/dashboard"><i class="zmdi zmdi-home"></i><span>Employee</span></a></li>
              <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-apps"></i><span>App</span> <span class="badge badge-success float-right">7</span></a>
                  <ul class="ml-menu">
                      <li><a href="mail-inbox.html">Inbox</a></li>
                      <li><a href="chat.html">Chat</a></li>
                      <li><a href="events.html">Calendar</a></li>
                      <li><a href="file-dashboard.html">File Manager</a></li>
                      <li><a href="contact.html">Contact list</a></li>
                      <li><a href="blog-dashboard.html">Blog</a></li>
                      <li><a href="app-ticket.html">Support Ticket</a></li>
                  </ul>
              </li>
              <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-swap-alt"></i><span>UI Elements</span> <span class="badge badge-default float-right">15</span></a>
                  <ul class="ml-menu">
                      <li><a href="ui_kit.html">UI KIT</a></li>                    
                      <li><a href="alerts.html">Alerts</a></li>                    
                      <li><a href="collapse.html">Collapse</a></li>
                      <li><a href="colors.html">Colors</a></li>
                      <li><a href="dialogs.html">Dialogs</a></li>
                      <li><a href="icons.html">Icons</a></li>                    
                      <li><a href="list-group.html">List Group</a></li>
                      <li><a href="media-object.html">Media Object</a></li>
                      <li><a href="modals.html">Modals</a></li>
                      <li><a href="notifications.html">Notifications</a></li>                    
                      <li><a href="progressbars.html">Progress Bars</a></li>
                      <li><a href="range-sliders.html">Range Sliders</a></li>
                      <li><a href="sortable-nestable.html">Sortable & Nestable</a></li>
                      <li><a href="tabs.html">Tabs</a></li>
                      <li><a href="waves.html">Waves</a></li>
                  </ul>
              </li>
              <li class="header">FORMS, CHARTS, TABLES</li>
              <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>Forms</span> <span class="badge badge-warning float-right">9</span></a>
                  <ul class="ml-menu">
                      <li><a href="basic-form-elements.html">Basic Elements</a></li>
                      <li><a href="advanced-form-elements.html">Advanced Elements</a></li>
                      <li><a href="form-examples.html">Form Examples</a></li>
                      <li><a href="form-validation.html">Form Validation</a></li>
                      <li><a href="form-wizard.html">Form Wizard</a></li>
                      <li><a href="form-editors.html">Editors</a></li>
                      <li><a href="form-upload.html">File Upload</a></li>
                      <li><a href="form-img-cropper.html">Image Cropper</a></li>
                      <li><a href="form-summernote.html">Summernote</a></li>
                  </ul>
              </li>
              <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-grid"></i><span>Tables</span> <span class="badge badge-info float-right">6</span></a>
                  <ul class="ml-menu">                        
                      <li><a href="normal-tables.html">Normal Tables</a></li>
                      <li><a href="jquery-datatable.html">Jquery Datatables</a></li>
                      <li><a href="editable-table.html">Editable Tables</a></li>
                      
                      <li><a href="table-color.html">Tables Color</a></li>
          <li><a href="table-filter.html">Tables Filter</a></li>
                  </ul>
              </li>            
              <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-chart"></i><span>Charts</span> <span class="badge badge-default float-right">5</span></a>
                  <ul class="ml-menu">
                      <li><a href="morris.html">Morris</a></li>
                      <li><a href="flot.html">Flot</a></li>
                      <li><a href="chartjs.html">ChartJS</a></li>
                      <li><a href="sparkline.html">Sparkline</a></li>
                      <li><a href="jquery-knob.html">Jquery Knob</a></li>
                  </ul>
              </li>
              <li class="header">EXTRA COMPONENTS</li>                    
              <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-delicious"></i><span>Widgets</span> <span class="badge badge-default float-right">3</span></a>
                  <ul class="ml-menu"><li><a href="widgets-app.html">Apps Widgetse</a></li>
                      <li><a href="widgets-data.html">Data Widgetse</a></li>
                      <li><a href="widgets-chart.html">Chart Widgetse</a></li>
                  </ul>
              </li>
              <li class="sm_menu_btm"> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-lock"></i><span>Authentication</span> <span class="badge badge-default float-right">9</span></a>
                  <ul class="ml-menu">
                      <li><a href="sign-in.html">Sign In</a></li>
                      <li><a href="sign-up.html">Sign Up</a></li>
                      <li><a href="forgot-password.html">Forgot Password</a></li>
                      <li><a href="404.html">Page 404</a></li>
                      <li><a href="403.html">Page 403</a></li>
                      <li><a href="500.html">Page 500</a></li>
                      <li><a href="503.html">Page 503</a></li>
                      <li><a href="page-offline.html">Page Offline</a></li>
                      <li><a href="locked.html">Locked Screen</a></li>
                  </ul>
              </li>
              <li class="sm_menu_btm active open"> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-copy"></i><span>Sample Pages</span> <span class="badge badge-primary float-right">12</span></a>
                  <ul class="ml-menu">
                      <li class="acctive"><a href="blank.html">Blank Page</a></li>
                      <li><a href="teams-board.html">Teams Board</a></li>
                      <li><a href="projects.html">Projects List</a></li>
                      <li><a href="image-gallery.html">Image Gallery</a></li>
                      <li><a href="profile.html">Profile</a></li>
                      <li><a href="timeline.html">Timeline</a></li>
                      <li><a href="horizontal-timeline.html">Horizontal Timeline</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="invoices.html">Invoices</a></li>
                      <li><a href="faqs.html">FAQs</a></li>
                      <li><a href="search-results.html">Search Results</a></li>
                      <li><a href="helper-class.html">Helper Classes</a></li>
                  </ul>
              </li>
              <li class="sm_menu_btm"> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-map"></i><span>Maps</span> <span class="badge badge-default float-right">3</span></a>
                  <ul class="ml-menu">
                      <li><a href="google.html">Google Map</a></li>
                      <li><a href="yandex.html">YandexMap</a></li>
                      <li><a href="jvectormap.html">jVectorMap</a></li>
                  </ul>
              </li>                
          </ul>
      </div>
  </div>
</aside>

<script>
alert("");
  $(".sidebar .menu .list").slimscroll({
      height: "calc(100vh - 20px)",
      color: "rgba(0,0,0,0.1)",
      position: "left",
      size: "2px",
      alwaysVisible: !1,
      borderRadius: "3px",
      railBorderRadius: "0"
  }), $(".right_menu .slim_scroll").slimscroll({
      height: "calc(100vh - 30px)",
      color: "rgba(0,0,0,0.1)",
      position: "right",
      size: "2px",
      alwaysVisible: !1,
      borderRadius: "3px",
      railBorderRadius: "0"
  }), $(".cwidget-scroll").slimscroll({
      height: "306px",
      color: "rgba(0,0,0,0.4)",
      size: "2px",
      alwaysVisible: !1,
      borderRadius: "3px",
      railBorderRadius: "2px"
  }), $(".right-sidebar .slim_scroll").slimscroll({
      height: "calc(100vh - 100px)",
      color: "rgba(0,0,0,0.4)",
      size: "2px",
      alwaysVisible: !1,
      borderRadius: "3px",
      railBorderRadius: "0"
  })

  </script>